#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.image-upload {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.image-upload input[type="file"] {
  margin: auto 0;
  border: 2px solid #ccc;
  border-radius: 2px;
  }

.colorpicker-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.colorpicker-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 0;
  transition: transform 0.2s;
  margin-bottom: 1rem;
}

.colorpicker-list button:hover {
  background-color: #99999933;
}

.colorpicker input {
  width: 75px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: none
}

.colorpicker button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

