#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 95%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
}

.image-upload {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-left: auto;
  margin-right: auto;
  flex:5;
  height: 100%;
}

.image-upload input[type="file"] {
  margin: auto 0;
  border-radius: 2px;
  }

.image-upload img {
  max-width: 100%;
  max-height: 400px;
  margin-top: 1rem;
}

.colorpicker-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 125px;
  flex: 1;
}

.colorpicker-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
  margin-bottom: 1rem;
}

.colorpicker-list button:hover {
  background-color: #99999933;
}

.colorpicker {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 125px;
  height: 50px;
}


.colorpicker input {
  width: 75px;
  height: 50px;
  cursor: pointer;
  border: none
}

.colorpicker button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height:25px;
}

