services:
  colormap:
    build: ./backend
    volumes:
      - ./output:/app/output
    stdin_open: true
    tty: true
    ports:
      - "8080:8080"
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: vite-frontend
    ports:
      - "3000:80"
    restart: unless-stopped